<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div>
        <%= image_tag attachments['impact-red-logo.svg'].url %>
    </div>
    <h1>Hi <%= @rsvp.reg_user.first_name %>,</h1>
    <p>
        You're now marked as no longer able to attend the following event:
    </p>
    <p>    
        <%= @rsvp.event.subject %> - <%= @rsvp.event.dt %>
    </p>

    <p>
        Address:
        <%= @rsvp.event.address %>
    </p>

    <div>
        <h1>Need help?</h1>
        <p>If you require any assistance, or have any questions, please contact: help@imact.org.au</p>
    </div>

    <p>
        Best regards,
    </p>
    <p>
        The Impact Team
    </p>

    <div>
        <span>&copy; 2018 Copyright Impact  - Terms and Conditions - Privacy Policy</span>
        <span>Unsubscribe</span>
    </div>

  </body>
</html>