<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <%= render "email_partials/html_header" %>

    <h1>Hi <%= @rsvp.reg_user.first_name %>,</h1>
    <p>
       Thank you for signing to be a part of our event! Every volunteer helps us to make a difference.
    </p>
    <p>    
        You're signed up to attend
        <%= @rsvp.event.subject %>
    </p>

    <p>
        <%= @rsvp.event.dt %>
    </p>

    <p>
        Address:
        <%= @rsvp.event.address %>
    </p>

    <p>
        <%= @rsvp.event.description %>
    </p>

    <p>
        If you're no longer able to attend click the link below...
    </p>
    
    <div>
        <%= "#{ENV['HOST_URL']}/rsvps/#{@rsvp.id}/cancel" %>
    </div>
    <small>(or copy and paste the link into your browser).</small>
    
    <%= render 'email_partials/html_help_section' %>

    <p>
        Best regards,
    </p>
    <p>
        The Impact Team
    </p>

    <%= render 'email_partials/html_copyr_footer', :uid => @rsvp.reg_user.id %>

  </body>
</html>