<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <header>
        <div>placeholder for a logo</div>
    </header>
    <h1>Hi <%= @rsvp.reg_user.first_name %>,</h1>
    <p>
       Thank you for signing to be a part of our event! Every volunteer helps us to make a difference.
    </p>
    <p>    
        You're signed up to attend
        <%= @rsvp.event.subject %>
    </p>

    <p>
        <%= @rsvp.event.dt %>
    </p>

    <p>
        Address:
        <%= @rsvp.event.address %>
    </p>

    <p>
        <%= @rsvp.event.description %>
    </p>

    <p>
        If you're no longer able to attend click the link below...
    </p>
    <div>
        <%= "#{ENV['HOST']}/#{@rsvp.id}/cancel" %>
    </div>
    <small>(or copy and paste the link into your browser).</small>
    <div>
        <h1>Need help?</h1>
        <p>If you require any assistance, or have any questions, please contact: help@imact.org.au</p>
    </div>

    <p>
        Best regards,
    </p>
    <p>
        The Impact Team
    </p>

    <div>
        <span>&copy; 2018 Copyright Impact  - Terms and Conditions - Privacy Policy</span>
        <span>Unsubscribe</span>
    </div>

  </body>
</html>