<div class="event-edit">

<p>Edit event below.</p>

<%= simple_form_for @event,  :method => 'put' do |f| %>
    <%= f.input :date_time, label: 'Your username please', error: 'Date and time mandatory, please make sure you enter them.' %>
    <%= f.input :address %>
    <%= f.input :subject %>
    <%= f.input :description, inline_label: 'This will appear on the email' %>
    <%= f.button :submit, :class => "reg-button" %>
<% end %>

</div>