<h1>Event Details: <%= @event.subject %></h1>

<h4>Date and Time</h4>
<%= @event.date_time.strftime("%d%m%Y %l:%M %P") %>

<h4>Address</h4>
<%= @event.address %>

<h4>Description</h4>
<%= @event.description %>

<h4> Created By:</h4>
<%= @event.admin_user.full_name %>