<div class="rego-wrapper">

  <%= simple_form_for @reg_user, :method => 'put' do |f| %>
    <%= f.input :first_name, label: false, error: 'Please enter first name' %>
    <%= f.input :last_name, label: false, error: 'Please enter last name' %>
    <%= f.input :email, label: false %>

    <div class="student" >
      <%= f.input :school, label: false %>
      <%= f.input :suburb, label: false %>
    </div>
    <%= f.input :contact_num, label: false %>
    
    <% if @reg_user.active_sub %>
      <%= f.check_box :active_sub, :label => 'Unsubscribe', :value => false %>
      <label for="">Unsubscribe</label>
    <% else %>
      <%= f.check_box :active_sub, :label => 'Subscribe', :value => true %>
      <label for="">Subscribe</label>
    <% end %>

    <br>

    <%= f.button :submit, "Save" %>

  <% end %>
</div>