
<div class="rego-wrapper">
  <p class="rego">We love welcoming new volunteers! <br>Register here for info on our events.</p>

  <%= simple_form_for @reg_user, :method => 'post' do |f| %>
    <%= f.input :first_name, label: false, error: 'Please enter your first name' %>
    <%= f.input :last_name, label: false, error: 'Please enter your last name' %>
    <%= f.input :email, label: false %>

    <input type="checkbox" name="" value="" id="sixteen">
    <label> I am 16 years or under</label>

    <div class="student hidden" >
      <%= f.input :school, label: false %>
      <%= f.input :suburb, label: false %>
    </div>
    <%= f.input :contact_num, label: false %>
    <%= f.button :submit, "Register to receive emails", :class => "reg-button" %>

  <% end %>

  <% if  session[:admin_user_id] %>
    <a href="/reg_users">See list of all registered volunteers.</a>
  <% end %>
  
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>

  var studentDiv = document.querySelector(".student")
  var checkboxStudent = document.querySelector("#sixteen")
  $(checkboxStudent).on('change', function() {     
     $(studentDiv).toggleClass('hidden');        
});



</script>

