
<div class="rego-wrapper">
  <p class="rego">We love welcoming new volunteers! <br>Register here for info on our events.</p>

  <%= simple_form_for @reg_user, :method => 'post' do |f| %>
    <%= f.input :first_name, label: false, error: 'Please enter your first name' %>
    <%= f.input :last_name, label: false, error: 'Please enter your last name' %>
    <%= f.input :email, label: false %>

    <input type="checkbox" name="" value="" id="sixteen">
    <label> I am 16 years or under</label>

    <div class="student hidden" >
      <%= f.input :school, label: false %>
      <%= f.input :suburb, label: false %>
    </div>
    <%= f.input :contact_num, label: false %>
    <%= f.button :submit, "Register to receive emails", :class => "reg-button" %>

  <% end %>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script>

  var studentDiv = document.querySelector(".student")
  var checkboxStudent = document.querySelector("#sixteen")
  $(checkboxStudent).on('change', function() {     
     $(studentDiv).toggleClass('hidden');        
});



</script>

<!-- <div class="container">

 <div class="reg-form">
   <%#= form_tag "/reg_users", method: 'post' do %>
  
     <p>
       <label for="">'First name'</label>
       <input class="first_name"type="text" name="first_name">
     </p>
     <p>
       <label for="">Last name</label>
       <input class="last_name" type="text" name="last_name">
     </p>
     <p>
       <label for="">Enter your email address</label>
       <input class="email" type="text" name="email">
     </p>
     <p>
       <label for="">Are you under 16 years?</label>
       <input class="terms" type="radio" name="terms">
     </p>
     <p>
       <label for="">What school do you go to?</label>
       <input class="school" type="text" name="school">
     </p>
     <p>
       <label for="">Enter your school's suburb</label>
       <input class="suburb" type="text" name="suburb">
     </p>
      <p>
       <label for="">Best contact number</label>
       <input class="number" type="number" name="contact_num">
     </p>
       <button class="reg-button">Register</button>
   <#% end %>
 </div>

</div> -->