<%# #if logged in %>

<h2>Registered Users</h2>

<table class="reg-table">
  <tr>
		<th>Active</th>
    <th>First Name</th>
		<th>Last Name</th>
    <th>Email</th>
    <th>Contact Number</th>
		<th>School</th>
		<th>Suburb</th>
  </tr>
	<% @reg_users.each do |user|%>
  <tr>
    
		<td>
			<% if user.active_sub %>
				Yes
			<% else %>
				No
			<% end %>
		</td>
    <td><%= user.first_name %></td>
		<td><%= user.last_name %></td>
    <td><%= user.email %></td>
		<td><%= user.contact_num %></td>
		<td><%= user.school %></td>
		<td><%= user.suburb %></td>
  </tr>
<% end %>  
</table>

