<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= render 'email_partials/email_style' %>
    <%= render "email_partials/html_header" %>
    
    <h1>We have a new event, <%= @reg_user.first_name %></h1>
    <p>
        Thank you for your on goiong support for <span>impact</span> for Women! Every volunteer helps us to make a difference.
    </p>
    <p>We have a new event comming up</p>
    <p>
        <%= @event.subject %> - <%= @event.dt %>
    </p>
    <p>
        Location - <%= @event.address %>
    </p>
    <p>
        <%= @event.description %>
    </p>
    <div class="event-link">
        <%= link_to "#{ENV['HOST']}/rsvps/new?event_id=#{@event.id}&reg_user_id=#{@reg_user.id}", "#{ENV['HOST']}/rsvps/new?event_id=#{@event.id}&reg_user_id=#{@reg_user.id}" %>
    </div>
    <small>(or copy and paste the link into your browser).</small>
    

    <p>
        Best regards,
    </p>
    <p>
        The Impact Team
    </p>




<footer>
    <%= render 'email_partials/html_copyr_footer', :uid => @reg_user.id %>
</footer>
    <%= render 'email_partials/html_help_section' %>

  </body>
  
</html>