<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <header>
        <div>placeholder for a logo</div>
    </header>
    <h1>Thanks for volunteering, <%= @reg_user.first_name %></h1>
    <p>
        Thank you for signing to be a volunteer for impact! Every volunteer helps us to make a difference.
    </p>
    <p>We have a new event comming up</p>
    <p>
        <%= @event.subject %> - <%= @event.dt %>
    </p>
    <p>
        Location - <%= @event.address %>
    </p>
    <p>
        <%= @event.description %>
    </p>
    <div>
        <%= "#{ENV['HOST']}/rsvps/new?event_id=#{@event.id}&reg_user_id=#{@reg_user.id}" %>
    </div>
    <small>(or copy and paste the link into your browser).</small>
    
    <div>
        <h1>Need help?</h1>
        <p>If you require any assistance, or have any questions, please contact: help@impact.org.au</p>
    </div>

    <p>
        Best regards,
    </p>
    <p>
        The Impact Team
    </p>

    <div>
        <span>&copy; 2018 Copyright Impact  - Terms and Conditions - Privacy Policy</span>
        <span>Unsubscribe</span>
    </div>

  </body>
</html>