<h2 class="event-h2"> Attendees <span>(<%= @event.rsvps.length %>)</span></h2>

<%# if  session[:admin_user_id] %>
  <div class="btn-containers">
    <a href="" class="reg-button rsvp-reg-btn no-rsvp-btn">View registered volunteers who didn't RSVP</a>
    <a href="/events/<%= @event.id %>/adhoc_registration" class="reg-button rsvp-reg-btn">Register and RSVP new volunteers</a>
  </div>

  <div class="att-flex">
        <% @event.rsvps.each do |rsvp| %>
        <div class="attendees">
          <div class="attendees-left">
            <p class="event-p"><%= rsvp.reg_user.first_name %></p>
            <p class="event-p"><%= rsvp.reg_user.email %></p>
            <p class="event-p"><%= rsvp.reg_user.contact_num %></p>
          </div>
          
          
          <div class="attendees-right">
                <% unless rsvp.attended %>
                    <%= form_tag "/rsvps/#{rsvp.id}/attended", method: 'put' do %>
                        <button class="submit-btn">Mark Present</button>
                    <% end %> 

                <% else %>
                    Attending
                <% end %>
                

          </div>

        </div>
        <% end %>

<%# else %>
  <%# <p>You can only view attendees if you're logged in as an admin</p> %>
<%# end %>




<script>
  console.log('caroline test!!')
  var clicked_email;

  var attendeesContainer = document.querySelector('.att-flex')
  

  attendeesContainer.addEventListener('click',function(e){
    if (e.target.className.includes('checkmark')){
     clicked_email = e.target.parentNode.firstChild.nextSibling.value

  
      // e.target.classList.toggle('color-ch')
    }
    
    
  })
</script>


