<!DOCTYPE html>
<html>
  <head>
    <title>Impact1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
        <div class="app-image">
            <%= image_tag "/impact-red-logo.svg" %>
        </div>
        <nav>
            <ul>
                <li>
                    <%= link_to 'Home', '/' %>
                </li>
                <li>
                    <%= link_to 'Events', events_path %>
                </li>
                <li>
                    <%= link_to 'Register', new_reg_user_path %>
                </li>
            </ul>
        </nav>
    </header>
    <%= yield %>
  </body>
</html>
