<!DOCTYPE html>
<html>
  <head>
    <title>impact</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Niramit" rel="stylesheet">
  </head>

  <body>
    <header>
        <div class="app-image">
            <%= image_tag "/impact-red-logo.svg" %>
        </div>
        <nav>
            <ul>
                <li>
                    <%= link_to 'Home', '/' %>
                </li>
                <li>
                    <%= link_to 'Events', events_path %>
                </li>
                 <% if  !session[:admin_user_id] %>
                    <li>
                        <%= link_to 'Register', new_reg_user_path %>
                    </li>
                <% end %>
                <% if  session[:admin_user_id] %>
                    <li>
                        <%= link_to 'All Users', reg_users_path %>
                    </li>
                    <li>
                        <%= link_to 'Sign Out', session_path,:method => :delete %>
                    </li>
                <% end %>
            </ul>
        </nav>
    </header>
    <%= yield %>
  </body>
</html>
